extends ../layout

block content
	div.indexInfo
		form(id='form1')
			div
				span 导航按钮
				section
					span 按钮1
					input(type="text" id='menu1_name' placeholder="名称" class="menu" value="" )
					input(type="text" id='menu1_src' placeholder="地址" value="" )
				section
					span 按钮2
					input(type="text" id='menu2' placeholder="名称" class="menu" value="")
					input(type="text" id='menu2_src' placeholder="地址" value="" )
				section
					span 按钮3
					input(type="text" id='menu3' placeholder="名称" class="menu" value="")
					input(type="text" id='menu3_src' placeholder="地址" value="" )
				section
					span 按钮4
					input(type="text" id='menu4' placeholder="名称" class="menu" value="")
					input(type="text" id='menu4_src' placeholder="地址" value="" )
			div
				span 图片
				section
					span 图片1
					img(src="" alt="")
					input(type="file" id='img1' class="image" value='' accept='image/*' onchange="showPreview(this)" )
					input(type="text" id='img1_text' class="img_text"  placeholder="图片1文字" value="" accept='image/*')
				section
					span 图片2
					img(src="" alt="")
					input(type="file" id='img2' class="image" value='' accept='image/*' onchange="showPreview(this)" )
					input(type="text" id='img2_text' class="img_text" value=""  placeholder="图片2文字" accept='image/*')
				section
					span 图片3
					img(src="" alt="")
					input(type="file" id='img3' class="image" value='' accept='image/*' onchange="showPreview(this)")
					input(type="text" id='img3_text' class="img_text" value=""  placeholder="图片3文字" accept='image/*')
				section
					span 图片4
					img(src="" alt="")
					input(type="file" id='img4' class="image" value='' accept='image/*' onchange="showPreview(this)")
					input(type="text" id='img4_text' class="img_text" value=""  placeholder="图片4文字" accept='image/*')
			div
				span 视频
				<video src="" controls="controls"> 暂无视频
				input(type="file" id='video' name='video' value='' accept="video/*;capture=camcorder")
			input(type="button" onclick='subData()' value='提交')
		p#result
		script(type="text/javascript").
			$("input").change(function(){
				$(".indexInfo").addClass("indexHasChange");
			})

			function showPreview(source) {
				source.classList.add('hasChange');
				var file = source.files[0];
				if(window.FileReader) {
					var fr = new FileReader();
					fr.onloadend = function(e) {
						$(source).prev().attr("src",e.target.result);
					};
					fr.readAsDataURL(file);
				}
			};  
			function subData(){
				var menu = {};
				for( var i=1; i<=$(".menu").length; i++ ){
					console.log(i);
					if( $(".menu").eq(i-1).val().length > 0 ){
						menu["m"+i]={
							"txt":$(".menu").eq(i-1).val(),
							"src":$(".menu").eq(i-1).next().val()
						}
					}
				}
				var images = {};
				if( $(".hasChange").length > 0 ){
					
					for( var j=0; j<$(".hasChange").length; j++ ){
						var num = j+1;
						images["img"+num]={
							"src":$(".hasChange").eq(j).prev().attr('src'),
							"txt":$(".hasChange").eq(j).next().val()
						}
					}
				}
				
				function sendData(){
					var obj={
						"menu":menu,
						"images":images,
						"video": document.getElementById('video').value
					};
					var xhr = new XMLHttpRequest();
					xhr.open('post','/admin/index',true);
					xhr.onload = function(e){
						if(this.status == 200){
						document.getElementById('result').innerHTML = this.response;
						}
					};
					xhr.send( JSON.stringify(obj) );	
				}

				if( $(".indexInfo").hasClass("indexHasChange") ){
					sendData();
				}		
			}