html
	head
		title 登录
	body
		h2 登 录
		form(id='form1')
			input(type="text" id='userName' name='userName' placeholder='用户名' value='shiqiao')
			br
			input(type="text" id='password' name='password'  placeholder='密码' value='123456')
			input(type="button" onclick='subData()' value='提交')
		script(src="/public/libs/jquery/dist/jquery.min.js")
		script(type="text/javascript").
			
			function subData(){
				var obj={
					"userName":document.getElementById('userName').value,
					"password":document.getElementById('password').value
				};
				$.ajax({
					url: "/login",
					data: JSON.stringify(obj),
					type: "POST",
					dataType:'json',
					success:function(data){
						if( data.status == "s" || data.status == "S" ){
							window.location.href = "/admin/index";
						}else{
							alert(data.msg);
						}
					},
					error:function(er){

					}
				});		
			}