doctype
html
	head
		meta(charset="utf-8")
		include ./includes/head
		title #{pageTitle}
	body
		include ./includes/header
		div.contentBox.base_main
			include ./includes/left
			div.panel.panel-default.base_right
				block content
		include ./includes/footer